.homepage{
    width: 100vw;
    height: 100vh;
    position: relative;
    /* z-index: 1; */
    /* box-shadow: 0px 0px 100px 10px #8E503A; */
}
.homepage video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.home-title{
    /* margin-top: 100%; */
    position: absolute;
    /* line-height: px; */
    /* word-spacing: 2px; */
    display: flex;
    flex-direction: column;
    /* gap: 1vw; */
    bottom:0%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    /* border: 2px solid white; */
    /* width: 90%; */
    margin: auto;
    /* padding-right: ; */
}
.title-date{
    margin-right: 3vw;
}
.title-main h1{
    text-align: center;
    white-space: nowrap;
    /* border: 2px solid white; */
    overflow: hidden;
    width: 100vw;
    font-size: 9vw;
    font-weight: 900;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title-main h1 span{
    display: inline-block;
    /* opacity: 0; */
}
.title-date h3{
    /* line-height: 4px; */
    font-weight: 100;
    text-align: end;
    font-size: 2.5vw;
    font-family: sans-serif;
}

@media(max-width:768px){
    .home-title{
        /* : 50vh; */
        bottom: 50%;
    }
    .title-main h1{ 
        font-size: 8vw;

    }
    .title-date h3{
        font-size: 3vw ;
        font-weight: 900;
    }

}