.register-main{
    width: 100%;
    min-height: 100dvh;
    background-color: #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3vw;
    align-items: center;
    transition: all 0.5s ease;
    padding: 2vw 0vw;
}
.register-container{
    width: 95%;
    min-height: 100vh;
    background-color: #FF751F;
    border-radius: 2vw;
    gap: 2vw;
    padding: 5vw 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.register-title{
    /* border: 2px solid white; */
    /* line-height: 1vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.register-title h1{
    /* cursor: pointer; */
    line-height:1;
    font-size: 12vw;
    font-weight: 500;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color: white;
    /* border: 1px solid black; */
    width: 90vw;
    overflow: hidden;
    text-align: center;
    /* height: 20vh; */
    display: flex;
    gap: 2vw;
    justify-content: center;
    align-items: center;
}
.register-title h1 span{
    transform: translateY(110%);
    display: inline-block;
    line-height: 0.95;
}

.plans{
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vw;
    flex-wrap: wrap;
}
.plan{
    /* border: 1px solid white; */
    border-radius: 2vw;
    padding: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    gap: 2vw;
    will-change: "all";
}
.hackathon-plan{
    position: relative;
    overflow: hidden;
    border: 1px solid #070707;
    background-color: #070707;

}
.arrow{
    border: 1px solid white;
    scale: 0.5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.plan-title{
    cursor: pointer;
    /* width: 10vw; */
    display: flex;
    justify-content: space-between;
    /* border: 2px solid white; */
    width: 100%;
    /* justify-content: space-between; */
    align-items: center
}
.plan h3{
    /* cursor: pointer; */
    font-size: 0.8vw;
    font-family: sans-serif;
    font-weight: 600;
    color: white;
    /* mix-blend-mode: difference; */
}
.or h3{
    font-family: sans-serif;
    font-size: 1.5vw;
    font-weight: 100;
    color: white;
}
.plan-card{
    border: 1px solid white;
    width: 20vw;
    border-radius: 1vw;
    height: 50vh;
    padding: 1vw 2vw;
    opacity: 0;
}
.ted-plan{
    border: 1px solid white;
    position: relative;
    overflow: hidden;
}
.ted-plan .popup-layer{
    background-color: #070707;
}
.what{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1vw;
}

.what h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 1.5vw;
}
.package{
    /* border: 2px solid white; */
    width: 100%;
}

.plan ul {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}
.plan ul li{
    color: white;
    /* gap: 1vw; */
    /* font-size: 3vw; */
    font-family: sans-serif;
}
.plan ul li h3{
    font-weight: 100;
}
.prize{
    /* border: 2px solid white; */
    width: 100%;
    display: flex;
    /* justify-content:space-around; */
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    gap: 1vw;
    padding: 2vw;
}
.prize> h1{
    font-weight: 100;
    /* font-size: ; */
}
.pay{
    width: 100%;
    text-align: center;
}
.pay button{
    width: 50%;
    border-radius: 1vw;
    padding: 0.5vw 1vw;
    border: none;
    outline: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.pay button a {
    text-decoration: none;
    color:#070707 ;
}
.pay button a h1{
    font-size: 1vw;
    font-weight: 100;
}

@media(max-width:768px){
    .register-title h1{
        font-size: 15vw;
    }
    .register-title{
        line-height: 0.85;
    }
    .plan{
    border-radius: 3vw;
    width: 60vw;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    will-change: "all";
    }
    .register-title h1{
    /* cursor: pointer; */
    /* /* font-size: 15vw; */
    font-size: clamp(8vw, 12vw, 15vw); 
    font-weight: 500;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color: white;
    /* border: 1px solid black; */
    width: 90vw;
    overflow: hidden;
    text-align: center;
    height: 6vh;
    display: flex;
    gap: 2vw;
    justify-content: center;
    align-items: center;
}
    .plans{
        flex-direction: column;
    }
    .plan h3{
        font-size: 2.8vw;
        font-weight: 100;
    }
    .plan {
    width: 80vw; /* ✅ larger and readable on phone */
    padding: 4vw 3vw;
    border-radius: 3vw;
  }
    .register-container{
        gap: 10vw;
    }
    .or h3{
        font-size: 5vw;
        font-weight: 100;
    }
    .plan-card{
    border: 1px solid rgba(255, 255, 255, 0.423);
    width: 60vw;
    border-radius: 2vw;
    height: 30vh;
    padding: 1vw 5vw;
    opacity: 0;
    }
    .what h2{
        font-size: 6vw;
    }
    .prize > h1{
        font-size: 4vw;
    }
    .pay button {
        border-radius: 1vw;
    }
    .pay button a h1{
        font-size: 4vw;
    }

    .prize{
        gap: 2vw;
    }

}