.sponsor-main{
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    /* border: 2px solid black; */
    /* z-index: 1; */
    /* padding: 2vw; */
}
.sponsors{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin-top: 5vw; */
    /* padding-top: 5vw; */
    /* height: 10vh; */
    /* padding: 2vw; */
}

.swiper {
  width: fit-content;
  height: 100%;
  background-color: white;
}

.swiper-slide {
  text-align: center;
  font-size: 20px;
  /* background: white; */
  /* padding: 3vw; */
   width: auto !important;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: auto;
  /* border: 2px solid black; */
  height: 10vh;
  object-fit: cover;
  object-position: center;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.swiper-wrapper {
  transition-timing-function: linear !important;
}